# ~/.gitconfig
[user]
    name = D-Guy # Name for cmdline, web shows account
    email = ddcool535@gmail.com
    signingkey = 093AF076C78E9DD4
[core]
    autocrlf = true # Windows (CRLF -> LF on commit, LF -> CRLF on checkout)
    #autocrlf = input # Linux/Mac (CRLF -> LF on commit, LF on checkout)
    safecrlf = warn # Warns on conversion (Mixed ending files cannot be recreated)
[init]
    defaultBranch = main
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    sw = switch
    ps = push
    pl = pull
    pr = pull --rebase
    fe = fetch
    hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
    lo = log --graph --pretty=oneline --abbrev-commit
    type = cat-file -t
    dump = cat-file -p
[gpg]
    program = "C:/Program Files (x86)/Gpg4win/../GnuPG/bin/gpg.exe"
    #program = "C:/Program Files (x86)/Gpg4win/../GnuPG/bin/gpg.exe --homedir C:/Users/dguy/.gpg" # Or set env variable 'GNUPGHOME = C:\Users\dguy\.gpg'
[commit]
    gpgsign = true # Auto sign commits
[tag]
    gpgsign = true # Auto sign tags